* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* font-family: poppins; */
}
.contianer-of-the-role-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cercle1 {
  position: absolute;
  right: 0%;
  width: 150px;
  top: -55px;
}
.cercle2 {
  position: absolute;
  left: -1%;
  width: 150px;
  top: 200px;
}
.cercle3 {
  position: absolute;
  width: 410px;
  top: 475px;
  right: 0;
}
.container-ofthetitel {
  position: relative;
}
/* .backgroundtitel {
  /* z-index: -1; */
/* } */ 
.titel {
  color: #190482;
  font-size: 40px;
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 300px;
  bottom: 170px;
}
.nedjma1,
.nedjma2 {
  width: 50px;
  position: absolute;
}
.nedjma1 {
  top: 100px;
  right: 210px;
}
.nedjma2 {
  top: 185px;
  left: 230px;
}
.container-of-moonies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 250px;
  left: -45%;
}
.passion,
.doctor {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.passion {
  right: 255px;
}
.doctor {
  left: 300px;
}
.paisson-image,
.doctor-image {
  position: absolute;
  width: 180px;
}
.text-passion,
.text-doctor {
  position: absolute;
  font-size: 30px;
  color: #407bff;
  top: 130px;
}
.contianerlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1260px;
  position: relative;
  height: 590px;
  margin: 0px 8px;
}
.cerclelogin2 {
  width: 170px;
  position: absolute;
  left: -35px;
  transform: rotateZ(5deg);
}
.cerclelogin1 {
  width: 180px;
  position: absolute;
  top: 0%;
  right: -10px;
}
/*  */
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  right: 235px;
  height: 500px;
  /* border: 2px solid; */
  width: 50%;
}
.backlegend {
  position: absolute;
  top: -75px;
  left: 90px;
}
.nedjmaloign1,
.nedjmaloign2 {
  position: absolute;
  width: 50px;
}
.nedjmaloign1 {
  top: 75px;
  left: 140px;
}
.nedjmaloign2 {
  top: 0px;
  right: 170px;
}
.legend-login {
  color: #190482;
  font-size: 40px;
  text-transform: capitalize;
  position: absolute;
  top: 30px;
  left: 230px;
  font-weight: bolder;
}
.how {
  position: absolute;
  top: 135px;
  left: 185px;
}
.signlink {
  color: #407bff;
  text-decoration: none;
}
.inputs-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  top: 50px;
}
.login-input {
  width: 320px;
  height: 40px;
  background: transparent;
  border: 1px solid #407bff;
  border-radius: 10px;
  box-shadow: -1px 4px 10px 0px rgb(0 0 0 / 3%);
  padding-left: 10px;
}
.el3ayen {
  width: 15px;
  position: absolute;
  top: 82px;
  left: 285px;
}
.forget {
  color: #407bff;
  font-size: 12px;
  position: absolute;
  top: 115px;
  left: 225px;
}
.login-button {
  width: 320px;
  height: 40px;
  background: #407bff;
  background-color: #407bff;
  border: transparent;
  border-radius: 10px;
  color: white;
}
.or {
  position: absolute;
  top: 190px;
  font-size: 12px;
}
.faceorgoolge {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.google-button {
  width: 20px;
}
.facebook-button {
  width: 11px;
}
.button-of-google {
  width: 50%;
  border: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.button-of-facebook {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: transparent;
  background-color: #407bff;
  border-radius: 20px;
}
.mooni-of-login {
  position: absolute;
  width: 30%;
  left: 810px;
}
/********************************* signup style ******************************/
.title-container-ofsignup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  right: 280px;
  bottom: 20px;
  height: 500px;
  width: 50%;
  /* height: ; */
}
.verifecation-of-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  bottom: -50px;
  gap: 10px;
}
.nedjmacontianer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
}
.backsignup {
  position: absolute;
  bottom: 275px;
}
.signup-text {
  color: #190482;
  font-size: 40px;
  position: absolute;
  bottom: 415px;
  text-transform: capitalize;
  font-weight: bold;
}
.Nedjmasignup1,
.Nedjmasignup2 {
  position: absolute;
  width: 50px;
}
.Nedjmasignup1 {
  bottom: -25px;
  right: -145px;
  position: relative;
}
.Nedjmasignup2 {
  left: -135px;
  position: relative;
  bottom: 20px;
}
.login-link {
  color: #407bff;
  text-decoration: none;
}
.input-container-signup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 10px;
  top: 70px;
}
.input-signup {
  width: 320px;
  height: 40px;
  background: transparent;
  border: 1px solid #407bff;
  border-radius: 10px;
  box-shadow: -1px 4px 10px 0px rgb(0 0 0 / 3%);
  padding-left: 10px;
}
.checkcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 255px;
  gap: 10px;
}
.check-label {
  font-size: 10px;
}
.signup {
  width: 320px;
  height: 40px;
  border: 1px solid #407bff;
  border-radius: 40px;
  background-color: #407bff;
  color: white;
}
.orsignupwith {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  position: relative;
  top: -15px;
  left: 120px;
}
.faceorgoolge1 {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
  bottom: 25px;
}
.el3ayen1 {
  width: 15px;
  position: absolute;
  bottom: 230px;
  left: 290px;
}
/* the style of the post part  */
/* 
grid ::
grid template columns bach ndiro t9sima ta3 a3mida ta3 la page
grid template rows bach ndiro t9sima ta3 khanet  ta3 la page


*/
.posts-component {
  display: grid;
  width: 100%;
  height: 100vh; /* to make it take all space in its parent div */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "sidebar sidebar   post  post post post post  post  search search   "
    "sidebar sidebar   post  post post post post  post search search   "
    "sidebar sidebar   post  post post post post  post  search search   ";
  text-transform: capitalize;
}
.side-bar {
  border: 2px solid;
  grid-area: sidebar;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "profile profile " "ulsidebar ulsidebar" "settings settings";
  gap: 10px;
  padding: 10px;
  z-index: 1;
  /* background-image: linear-gradient(0deg,#FFFFFF,#407BFF,#819CC6); */
  /* filter: blur(5px); */
}
.side-bar1 {
  /* border: 2px solid; */
  grid-area: sidebar;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "profile profile " "ulsidebar ulsidebar" "settings settings";
  gap: 30px;
  padding: 10px;
  /* z-index: -1; */
  /* background-image: linear-gradient(0deg,#4690D4,#6ebef44a,#A5EFFF); */
  /* filter: blur(20px); */
}
li {
  list-style: none;
}
.profile {
  grid-area: profile;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
  /* z-index: 2; */
}
.ulsidebar {
  grid-area: ulsidebar;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* z-index: 2; */
}
.settings {
  grid-area: settings;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* z-index: 2; */
}
.contianer-image-profile {
  border-radius: 70px;
  border: 2px solid #190482;
}
.image-profile {
  width: 80px;
}
.pmenu {
  padding: 0 15px;
  color: #190482;
  font-weight: bold;
  font-family: "Poppins";
}
.paccount {
  padding: 0 15px;
  color: #190482;
  font-weight: bold;
  font-family: "Poppins";
}
.ulmenu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
/* .ulmenu::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 25px;
  border-radius: 20px;
  z-index: 2;
  left: -5px;
  background-color: #6194FF;
} */
.ulsettings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.lineof-li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  height: 25px;
  padding: 0 10px;
}
.linksof-sidebar {
  text-decoration: none;
}
.logoofli {
  background-color: #a7c7f9;
  padding: 5px;
  border-radius: 8px;
  width: 25px;
  height: 25px;
  color: #819cc6;
}
.linksof-sidebar {
  color: #819cc6;
}
.post-middlepart {
  /* border: 2px solid; */
  grid-area: post;
  display: grid;
  /* padding: 0px 0; */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "posttitel" "posttitel" "postcontent" "postcontent" "postcontent";
}
.logo-container{
  grid-area: logo-container;
  border:2px solid  black;
}
.post-titel {
  /* border: 2px solid #819CC6; */
  grid-area: posttitel;
  margin: 85px 5px 0px 5px;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
}
.post-content {
  /* border: 2px solid #819CC6; */
  grid-area: postcontent;
  /* padding: 0 20px; */
  margin: 0 5px;
}
.text-post-titel {
  color: #190482;
  font-size: 40px;
}
.post-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  height: 50px;
  /* border: 2px solid  #819CC6; */
}
.littel-nav-in-the-post {
  color: #819cc6;
  text-decoration: none;
}
.active {
  color: #190482;
  text-decoration: underline;
}
.icon-anxiety {
  width: 10px;
  color: #819cc6;
  cursor: pointer;
}
.arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 290px;
  gap: 10px;
  border: 1px solid #819cbb;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
.anxiety {
  background: transparent;
  border: transparent;
  color: #819cc6;
  cursor: pointer;
}
.posted {
  height: 295px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr) 0.5fr;
  gap: 10px;
}
.postcontainer {
  border: 2px solid #407cff75;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 2fr);
  grid-template-areas: "pp" "cp" "cp";
  padding: 0 20px;
}
.profileofthepost {
  grid-area: pp;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "imageprofile username time time button button button tree";
  /* "imageprofile username time time button button button hiden"; */
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hidecontent {
  flex-direction: column;
  background-color: #819cc6;
  width: 85px;
  border-radius: 10px;
  padding: 5px;
  transition: all 2s;
  display: none;
  position: absolute;
  left: 550px;
  top: 50px;;
}
.showcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.text-time-p {
  grid-area: time;
}
.text-username-p {
  grid-area: username;
}
.treepoint {
  grid-area: tree;
  color: #819cc6;
  cursor: pointer;
}
.image-of-user {
  width: 30px;
  grid-area: imageprofile;
}
.button-hA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  grid-area: button;
}
.contentpost {
  grid-area: cp;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: "content-post" "content-post" "button-like-comment";
  gap: 20px;
  padding: 5px 5px;
}
.button-like-comment{
  grid-area: button-like-comment;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.like{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #E6EEFA;
  width: 45px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.comment{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #E6EEFA;
  width: 45px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}
.content-post{
  grid-area: content-post;
}
.posted::-webkit-scrollbar {
  display: none;
}
.banxiety {
  background-color: #fff3c7;
  width: 80px;
  height: 20px;
  border: transparent;
  border-radius: 3px;
  box-shadow: -1px 2px 3px 0px #0000001a;
  color: #190482;
  cursor: pointer;
}
.heal {
  background-color: #c2d9ff;
  width: 80px;
  height: 20px;
  border: transparent;
  border-radius: 3px;
  box-shadow: -1px 2px 3px 0px #0000001a;
  color: #190482;
  cursor: pointer;
}
.content-post-text1 {
  color: #190482;
}
.content-post-text2 {
  color: #819cc6;
}

.hidecontianer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.test {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  border: 2px solid;
  padding: 5px;
  width: 100%;
  height: 50px;
}
/* Sidebar.css */

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  /* Add other styles for your sidebar */
}

.sidebar-link {
  padding: 10px;
  transition: background-color 0.3s ease;
  /* Add other styles for your link container */
}

.sidebar-link.active {
  background-color: #0074d9; /* Change to your desired active link color */
  /* Add other styles for the active link */
}

.sidebar-link a {
  text-decoration: none;
  color: #333;
  /* Add other styles for your link text */
}
.sidebartest {
  width: 150px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border: 2px solid #190482;
  color: #a7c7f9;
  background-color: #0074d9;
}
.sidetest {
  background-color: #fff3c7;
  color: #333;
}
.activx {
  background-color: rgb(78, 0, 0);
  color: #c2d9ff;
}
.activex {
  color: #407bff;
}
.activex1 {
  color: #ffffff;
  background-color: #6194ff;
}
.Endpart {
  /* border: 2px solid; */
  grid-area: search;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  padding: 20px 0;
  gap: 20px;
  padding: 10px;
  justify-content: flex-start;
  grid-template-areas:
    "input"
    "input" "lastS" "lastS" "lastpodcast" "lastpodcast" "lastpodcast" "lastpodcast" "lastpodcast" "lastpodcast";
}
.container-input-searchbar {
  /* border: #0074d9 solid 2px; */
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 3px;
  padding-right: 3px;
  flex-direction: row;
}
.notificationIcon-of-SearchBar {
  width: 30px;
  height: 30px;
  color: #407bff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 1px #19048222;
  cursor: pointer;
}
.input-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* padding-left: px;
  padding-right: 3px; */
  flex-direction: row;
  box-shadow: 0px 0px 6px 1px #19048222;
  border-radius: 5px;
}
.input-box-for-SearchBar {
  /* box-shadow: 0px 0px 6px 1px #00000078; */
  height: 30px;
  width: 140px;
  border: transparent;
  border-radius: 3px;
  padding: 10px;
}
.input-box-for-SearchBar::placeholder {
  color: #819cc6;
}
.input-box-for-SearchBar:focus {
  border: transparent;
  outline: transparent;
}
.search-icon-of-input {
  cursor: pointer;
  color: #819cc6;
}
.the-recent-search {
  /* border: #0074d9 solid 2px; */
  grid-area: lastS;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  grid-template-areas: "text text" "line line" "line line";
}
.container-lastSrch {
  grid-area: line;
  /* border: #0c518d solid 2px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.conspan {
  padding: 1px;
  background-color: #d5e2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  margin: 8px;
}
.spanoflast {
  color: #190482;
  font-size: 10px;
  cursor: pointer;
}
.the-X {
  background-color: #a7c7f9;
  color: #ffffff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.Recent-text {
  grid-area: text;
  color: #190482;
  font-size: 20px;
  font-weight: bolder;
}
.the-last-podcast {
  border: #0074d9 solid 2px;
  grid-area: lastpodcast;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-areas: ; */
}
.podcast-inpost {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "void void content content content ";
  border: 2px solid;
  border-radius: 10px;
}
.void {
  grid-area: void;
  border: 2px solid;
}
.podcast-inpost-content {
  border: 2px solid;
  grid-area: content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-x2 {
  font-size: 10px;
  text-align: end;
}
.PodcastName {
  font-size: 10px;
}
.Podcastdes {
}
.bcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.testconpodcast {
  grid-area: lastpodcast;
  display: grid;
  width: 210px;
  height: 290px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  font-size: 10px;
  border-radius: 10px;
  /* background-image: url(/src/assets/circleofpost.svg);
  background-size: 200px 300px;
  background-position: right bottom;
  background-repeat: no-repeat; */
}
.Recent-text1{
  color: #190482;
  font-size: 20px;
  font-weight: bolder;
}
.podcastinposttets {
  display: grid;
  /* justify-content: center;
  align-items: center; */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "void void content content content content";
  border-radius: 12px;
}
.void1 {
  grid-area: void;
  /* border: 2px solid; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.content {
  grid-area: content;
  padding: 5px ;
  gap: 0;
  /* border: 2px solid; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: ". . x1" " h3 h3 h3 " "pd pd pd " ". btns btns";
  /* border-radius: 10px; */
}
.sudiv {
  grid-area: x1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". . pa";
}
.sup{
  grid-area: pa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #A7C7F9;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 10px;
}
.h3 {
  grid-area: h3;
  color: #819CC6;
}
.pd {
  grid-area: pd;
}
.btns {
  grid-area: btns;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.timepod{
  color: rgb(129, 156, 198);
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasks-component{
  display: grid;
  width: 100%;
  height: 100vh; /* to make it take all space in its parent div */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "sidebar sidebar   task task task task task task task task    "
    "sidebar sidebar   task task task task task task task task    "
    "sidebar sidebar   task task task task task task task task    ";
  text-transform: capitalize;
  font-family: poppins;
  background-image: url(/src/assets/BackgoundTask.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}
.task-midelle-part-conponent{
  grid-area: task;
  /* border: #190482 solid 1px; */
  margin:  20px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:repeat(12,1fr) ;
  gap: 10px;
  grid-template-areas: "nav"  "descreption"" descreption" "navTask" "buttonTask"
    "buttonTask" "seeall" "tasks" "tasks" "tasks" "tasks" "tasks"  ;
    /* background-image: url(./assets/BackgoundTask.svg); */
}
.nav{
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo logo  . . search";
  gap: 10px;
  padding-left: 3px;
  padding-right: 3px;
}
.logo-text{
grid-area: logo;
}
.container-searchbar{
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-right: 10px;
  /* margin-left: 0px; */
}
.descreption{
  grid-area: descreption;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: "titel" "titel" "text";
}
.line1{
  grid-area: titel;
  display: flex;
}
.line2{
  grid-area: text;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "text text text text text .";
  font-size: 12px;
}
.text-of-the-task{
  grid-area: text;
  color: #819CC6;
}
.nav-task{
  grid-area: navTask;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.links-of-tasks-page{
  color: #819CC6;
  text-decoration: none;
}
.button-tasks{
  grid-area: buttonTask;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: 1fr;
  padding: 10px;
  grid-template-areas: "button button button button button . . button1";
  justify-content: center;
  align-items: center;
}

.container-of-buttont{
  grid-area:button ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  /* width: fit-content; */
}
.span-circle{
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.category{
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  box-shadow: 0px 2px 3px 2px #00000017;
  border-radius: 10px;
}
.button-right{
  grid-area: button1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;
  background-color: #407BFF;
  height: 35px;
  color: white;
  width: 120px;
  border-radius: 10px;
}
.seeAll{
  grid-area: seeall;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  /* margin-right: 10px; */
}
.Tasks{
  grid-area: tasks;
  /* border: 1px solid red; */
  display: grid;
  align-items: center;
  overflow-y: scroll;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,1fr);
  /* grid-template-areas: ; */
  height: 200px;
  padding: 5px;
  gap: 10px;
}
.Tasks::-webkit-scrollbar{
  display: none;
}
.task-card{
  /* border: 2px solid  black; */
  display: grid;
  grid-template-columns:repeat(10,1fr) ;
  grid-template-rows:1fr ;
  grid-template-areas: " left left right right right right right right right right";
  border-radius: 10px;
  height: 84px;
  box-shadow: 0px 0px 5px 1px #00000042;
  /* padding: 10px; */
}
.left-side-of-TaskCard{
  grid-area: left;
  padding: 5px;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". play . text text text";
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #c2d9ffca;
  border-radius:10px 0px 0px 10px ;
}
.play{
  grid-area: play;
  background-color: #407BFF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 27px;
  border-radius: 16px;
}
.middeltext{
  grid-area: text;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
}
.time-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.right-side-of-TaskCard{
  grid-area: right;
  padding: 5px;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(10,1fr) ;
  grid-template-rows: 1fr;
  grid-template-areas: "ind ind ind .complete complete complete  . remider remider  ";
}
.identety-task{
  grid-area:ind  ;
  /* border: 2px solid; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
  padding: 10px;
}
.link-bar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.complete-part-task{
  grid-area: complete;
  /* border: 2px solid; */
  display: grid ;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
  /* justify-content: center;
  align-items: center; */
  /* padding: 5px; */
}
.range-input{
  width: 200px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
}
.complete-precent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #190482;
  padding: 5px;
}
.remider-taskabar{
  grid-area:remider ;
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.remider-button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  /* border: 2px solid; */
  color: #407BFF;
  height: 35px;
  width: 110px;
  background-color: #C2D9FF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px #00000045;
}

.option-button{
  transform: rotatez(45deg);
}
.remider{
  display: grid;
  width: 100%;
  height: 100vh; /* to make it take all space in its parent div */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "sidebar sidebar   remider  remider remider remider remider  remider    remider  remider      "
    "sidebar sidebar   remider  remider remider remider remider  remider   remider  remider     "
    "sidebar sidebar   remider  remider remider remider remider  remider    remider  remider      ";
  text-transform: capitalize;
}
.RemiderMiddelpart{
  grid-area: remider;
  margin: 20px;
  display: grid;
  /* border: 2px solid ; */
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:repeat(12,1fr) ;
  gap: 10px;
  grid-template-areas: "nav"  "descreption"" descreption" "navTask"   "remider1"
    "remider1" "remider1" "remider1" "remider1" "remider1"  "remider1" "remider1" ;
}
.remider1{
  grid-area: remider1;
  /* border: 2px solid; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 20px;
  padding: 20px;
  /* margin: 0px 20px; */
  /* height: 300px; */
}
.remider-card{
  background-image: linear-gradient(180deg,#E6EEFA,#FFFFFF);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin: 0px 20px;
}
.titel-remder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row ;
  gap: 20px;
}
.home{
  display: grid;
  width: 100%;
  height: 100vh; /* to make it take all space in its parent div */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "sidebar sidebar   home  home home home home  home    home  home      "
    "sidebar sidebar   home  home home home home  home   home  home     "
    "sidebar sidebar   home  home home home home  home    home  home      ";
  text-transform: capitalize;
}
.HomeMiddelpart{
  border: 2px solid ;
  /* overflow-y: scroll; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10,1fr);
  grid-template-areas: "nav" "item" "item" "item" "item" "item" "item" "item" "item" "item" ;
  grid-area: home;
}

.item-contianer{
grid-area: item;
border: 5px dotted  #690817;
/* overflow-y: scroll;
height: 100vh; */
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(4,1fr);
overflow-y: scroll;
gap: 15px;
}
.item-contianer::-webkit-scrollbar{
  display: none;
}
.item-home{
  border: 2px solid;
  height: 100vh;
}
.nav-home{
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo logo  . . search";
  gap: 10px;
  padding-left: 3px;
  padding-right: 3px;
  border: 2px dotted  #690817;;
}
/* .-part{
  grid-area:nav ;
  border: 2px solid;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5,1fr);
  grid-template-areas: " . . . . nav";
} */
/* .home-item{

}
.end-part-home-item{
    grid-area: end;
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "text tv tv tv tv tv tv text2 text2 text2";
    position: relative;
}
.rotate-text{
}
.tv1{
  grid-area:tv ;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.end-text{
  grid-area:text2 ;
  border: 2px solid;
}
.container-input-searchbar1{
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 3px;
  padding-right: 3px;
  flex-direction: row;
}
.dercreption-part{
  grid-area:descreption ;
  border: 2px solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 50px;
  gap: 20px;
} */
.home-item1{
  margin: 20px 20px;
  height: 100vh;
  border: 5px dotted blueviolet;
}
.home-item2{
  margin: 20px 20px;
  height: 100vh;
  border: 5px dotted blueviolet;
}
.home-item3{
  margin: 20px 20px;
  height: 100vh;
  border: 5px dotted blueviolet;
}
/* nav descreption nav-task  remider*/
/* input[type="range"]::-webkit-slider-thumb {
  display: none;
} */
